/*common*/
body{font-family:"Helvetica Neue","Helvetica","Arial","sans-serif";font-size:16px;line-height:1.2}
/*popup*/
body.popup{min-width:200px;display:none}
.switch-group{display:block;border-bottom:1px solid gray;padding-top:6px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
/*.popup>.switch-group:last-of-type{border:0}*/
.switch-group:hover{background-color:orange;cursor:pointer}
.switch .label{display:inline-block;margin-left:12px}
.info{color:gray;margin-top:6px;margin-left:12px}
.info .label{font-variant:small-caps}
#options{text-decoration:underline;cursor:pointer}
/*options*/
.options .item{line-height:1.6}
.options #fileInput{display:none}